.App {
  text-align: center;
}

.playback{
  height: 700px;
  width: 100%;
  
}

.DetailsBox{
  margin-top: 8%;
  height: 500px;
  width: 100%;
  border: 3px solid red;
}

#boxIs{
  height: 380px;
  border: 3px solid rgb(143, 0, 0);
}

/* https://github.com/tech-jamara/React-Movie-App */
/* https://github.com/piyush-eon/react-entertainment-hub */
/* https://github.com/piyush-eon/react-entertainment-hub */