.App {
  text-align: center;
}

.playback{
  height: 600px;
  width: 80%;
  border: 4px solid black;
}
/* https://github.com/tech-jamara/React-Movie-App */
/* https://github.com/piyush-eon/react-entertainment-hub */
/* https://github.com/piyush-eon/react-entertainment-hub */