.App {
  text-align: center;
}

.playback{
  height: 700px;
  width: 100%;
  
}

.DetailsBox{
  margin-top: 9%;
  height: 600px;
  width: 100%;
  border: 3px solid rgb(143, 0, 0);
}

#boxIs{
  height: 380px;
}

.trailerBox{
  height: 400px;
  padding: 3% 6%;
}

.Head{
  text-align: start;
  margin-left: 5%;
  font-size: 28px;
  font-weight: 600;
}

.HeadRel{
  text-align: start;
  margin-left: 11%;
  font-size: 28px;
  font-weight: 600;
  margin-top: -3%;
}

.trailerBox>div>img{
  margin-top: 2%;
  height: 80%;
  width: 30%;
  border-radius: 12px;
}

/* https://github.com/tech-jamara/React-Movie-App */
/* https://github.com/piyush-eon/react-entertainment-hub */
/* https://github.com/piyush-eon/react-entertainment-hub */